<h3>予約内容の確認</h3>

<%= form_with model: @reservation do |f| %>
 <table>

 <%= f.hidden_field :user_id, value: @user_id %>
 <%= f.hidden_field :room_id %>

  <tr>
   <th>チェックイン</th>
   <td><%= f.date_field :check_in, value: @reservation.check_in %></td>
  </tr>
  
  <tr>
   <th>チェックアウト</th>
   <td><%= f.date_field :check_out, value: @reservation.check_out %></td>
  </tr>

  <tr>
   <th>日数</th>
   <td><%= f.text_field :day, value: @day %></td>
  </tr>

  <tr>
   <th>人数</th>
   <td><%= f.text_field :people, value: @reservation.people %>人</td>
  </tr>

  <tr>
   <th>お支払い金額</th>
   <td><%= f.text_field :price, value: @total %>円</td>
  </tr>
 </table>


 <div>
  <p>上記内容で正しければ「確定」ボタンを押してください。</p>
  <p><%= f.submit "確定", class: "actions_button" %></p>
  <p><%= link_to "キャンセル", :back, class: "logIn_signUp" %></p>
 </div>
<% end %>
