<%= render "shared/partial" %>

<% if flash[:alert_blank] %>
 <p class="notice"><%= flash[:alert_blank] %></p>
<% end %>

<% if flash[:alert_day] %>
 <p class="notice"><%= flash[:alert_day] %></p>
<% end %>

<% if flash[:alert_number] %>
 <p class="notice"><%= flash[:alert_number] %></p>
<% end %>

<h3><%= link_to "←戻る", :back, class: "back_btn" %></h3>

<div class="show_content">

 <div>
  <%= image_tag @room.img.thumb.url, size: '580x335' %>
 </div>

  <div>
   <%= form_with url: reservations_confirm_path do |f| %>
    <table>
     <%= f.hidden_field :room_id, value: @room.id %>

     <tr>
       <th><%= f.label :name, "施設名" %></th>
       <td><%= @room.accommodation %></td>
     </tr>
 
     <tr>
       <th><%= f.label :price, "値段" %></th>
       <td><%= @room.price %>円/日</td>
       <%= f.hidden_field :price, value: @room.price %>
     </tr>
 
     <tr>
       <th><%= f.label :address, "住所" %></th>
       <td><%= @room.address %></td>
     </tr>
 
     <tr>
       <th><%= f.label :accommodation_detail, "施設紹介" %></th>
       <td><%= @room.accommodation_detail %></td>
     </tr>

     <tr>
       <th><%= f.label :check_in, "チェックイン（必須）" %></th>
       <td><%= f.date_field :check_in %></td>
     </tr>

     <tr>
       <th><%= f.label :check_out, "チェックアウト（必須）" %></th>
       <td><%= f.date_field :check_out %></td>
     </tr>

     <tr>
       <th><%= f.label :number_of_people, "人数（必須）" %></th>
       <td><%= f.number_field :people %></td>
     </tr>
    </table>

    <p><%= f.submit "予約する", class: "reservation_button" %></p>
   <% end %>
  </div>
</div>
